<div class="introduction">
  <h1>About me</h1>
  <div class="intro">
    <div class="intro-svg">
      <img src="assets/multitasking.svg" alt="person-svg">
    </div>
    <div class="intro-matter">
      <ul>
        <p>
          I am a seasoned <b>Senior Full Stack Java Developer</b> with a rich background spanning 8 years in the software
          development industry.
        </p>
        <p>My passion lies in crafting robust and scalable solutions that bridge the gap between intricate backend
          logic and seamless user experiences.
        </p>
        <p>
          Let's connect and explore how my experience and passion for innovation can bring value to your team or project.
        </p>
      </ul>
    </div>
  </div>
</div>
