<!-- Nav Bar -->
<div class="navbar" id="home">
  <h1 id="grad" href="#home">Teja Bolem</h1>
  <div class="nav-links">
    <a href="#home">Home</a>
    <a href="#about-me">About me</a>
    <a href="#contact">Contact</a>
  </div>
</div>

<div class="welcome">
  <div class="wel-text">
    <h2>Hello, There!<br>This is Teja Bolem</h2>
    <h1>I am a<br> Sr. Full Stack Java Developer</h1>
  </div>
  <div class="welcome-img">
    <img src="assets/my-pic.jpg" alt="my picture">
  </div>
</div>

<div class="intro">
  <div class="intro-svg">
    <img src="assets/multitasking.svg" alt="person-svg">
  </div>
  <div class="intro-matter" id="about-me">
    <h1>About me</h1>
    <ul>
      <p>
        I am a seasoned <b>Senior Full Stack Java Developer</b> with a rich background spanning 8 years in the software
        development
        industry. My passion lies in crafting robust and scalable solutions that bridge the gap between intricate
        backend
        logic and seamless user experiences.
      </p>

      <p>
        Let's connect and explore how my experience and passion for innovation can bring value to your team or project.
      </p>
    </ul>
  </div>
  
</div>
<!-- 
<footer>
  <img src="assets/footer.png">
</footer> -->