*
  font-family: -apple-system
.navbar-mine
  // top: 0
  // background-color: transparent
  // position: sticky
  width: 90%
  display: flex
  flex-direction: row
  align-content: center
  justify-content: space-between
  margin: auto
  h1
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
    background-clip: text
    color: transparent
    font-family: Jenthill, sans-serif
    font-size: 2.7vw
    text-align: center
    margin: auto
    padding: 10px 5px
  .nav-links
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-content: center
    width: 60%
    // background-color: #189AB4
    border-radius: 5px
    padding: 5px 10px
    margin-top: 8px
    a
      text-decoration: none
      color: #0E2954
      padding: 3px 10px
      font-weight: bolder
      font-size: 20px
      border-bottom: white solid 3px
    a:hover
      // background-color: white
      color: #3498db
      border-bottom: #0E2954 solid 3px

/* Navbar for the phones*/
nav
  display: none

/* Footer styles */
footer
  width: 100%
  height: auto
  position: relative
  img
    width: 100%
    height: 40vh
    object-fit: fill
  .footer-float
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    bottom: 0
    left: 0
    // padding: 10px 50px 20px 60px
    .signature
      width: 95%
      display: flex
      flex-direction: row
      justify-content: space-between
      .footer-links
        display: flex
        flex-direction: column
      a
        text-decoration: none
        color: Black
        font-weight: bold
      a:hover
        color: white
    .signature-text
      font-size: 18px
      font-weight: bold
      color: black
      font-family: -apple-system
      p
        margin-bottom: 0

/* Styles for Phone*/
@media screen and (max-width: 600px)
  .navbar-mine
    display: none
  nav
    display: block
    padding: 5px
    margin-bottom: 20px
    background-color: white
    .container-fluid
      a, h5
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
        background-clip: text
        color: transparent
        font-family: Jenthill, sans-serif
        font-size: 6vw
    .offcanvas-body
      a
        font-family: -apple-system
        font-size: 4.5vw
        color: #647D87
        font-weight: 500
  footer
    width: 100%
    margin: 0
    img
      display: none
    .footer-float
      position: relative
      background: linear-gradient(to bottom, #000000, #243B55)
      padding: 15px
      .footer-links
        a
          font-weight: 600
          color: white
      .signature-text
        color: aliceblue
        p
          margin-top: 15px
          font-size: 16px

/* All Key Frames */
@keyframes circle-in-hesitate
  0%
    clip-path: circle(0%)
  40%
    clip-path: circle(40%)
  100%
    clip-path: circle(125%)

[transition-style="in:circle:hesitate"]
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both
